.table-page {
    display: flex;
    align-items: center;
    width: 1024px;
    height: 340px;
  }
  
  .table-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 100px;
    row-gap: 60px;
    margin: 0 auto;
    margin-top: 80px;
    align-items: center;
  }
  
  .table {
    width: 100px;
    height: 100px;
    /* background-color: lightblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;

  }
  
  /* .table.selected {
    background-color: lightcoral;
  } */