/* styles.css */
.bottom-sheet {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    /* background-image: url('../image/reservebottom.png'); */
    /* background-color: black; */
    background-image: linear-gradient( rgb(168, 51, 148) 0%, rgb(144, 63, 237) 100%);
    background-size: cover;
    background-position: center;
    box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.2);
    transition: bottom 0.3s;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }
  
  .bottom-sheet.open {
    bottom: 0;
  }
  
  .bottom-sheet-content {
    padding: 20px;
  }

  .slidebottom{
    display: flex;
    flex-direction: row;
  }

  .date-button{
    background-image: linear-gradient(to bottom right,#B6116B 30%,#3B1578);
    color: #fff;
    border: none;
    max-height: 60px;
    padding: 20px 60px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    font-size: medium;
}
  