header {
    position: absolute;
    top :0;
    left:0;
    width: 100%;
    z-index: 11111;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px 100px;
    background-image: linear-gradient(to bottom, rgba(9, 19, 59, 1) 0%, rgba(9, 19, 59, 0) 100%);
  }
  
  .logo {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 110px;
    min-width: 60px;
  }
  
  .logo img {
    width: 100%;
    position: relative; /* เพิ่ม */
    z-index: 1; /* ให้รูป logo อยู่ด้านหน้า */
  }
  
  .circle {
    width: 100%;
    height: 100%;
    border-radius: 55%;
    position: absolute; /* เพิ่ม */
    top: 0;
    left: 0;
    z-index: 100; /* ให้วงกลมอยู่ด้านหลัง */
  }

  .circle:hover {
    box-shadow: 0 0 20px rgba(228, 135, 216, 0.5);
  }
  
  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  ul li {
    margin-right: 80px;
  }
  ul li:hover{
    text-shadow: 0 0 10px rgb(19, 213, 216), 0 0 20px rgb(19, 213, 216), 0 0 30px rgb(19, 213, 216), 0 0 40px rgb(19, 213, 216), 0 0 50px rgb(19, 213, 216);
  }
  
  ul li a {
    text-decoration: none;
    color: white;
  }

  .auth-buttons div  {
    background: linear-gradient(#122058, #142566) padding-box,
    linear-gradient(to right, #3C79D4,#FFA6FA) border-box;
    border-radius: 6px;
    border: 4px solid transparent;
    border-color: linear-gradient(#5b4a5a, #7a6d79);
    padding: 8px 25px;
    color: white;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
  }

  .auth-buttons div a{
      text-decoration: none;
      color: white;
  }

  .auth-buttons div:hover{
    text-shadow: 0 0 10px rgb(227, 233, 233), 0 0 20px rgb(236, 241, 241), 0 0 30px rgb(228, 234, 234), 0 0 40px rgb(226, 234, 234), 0 0 0px rgb(19, 213, 216);
    box-shadow: 0 0 10px rgba(239, 237, 239, 0.5);
  }

  .auth-buttons {
    display: flex;
    gap: 10px;
  }


  
  /* .auth-buttons button {
    background: none; 
  padding: 10px 20px;
  border: 2px solid transparent; 
  background-image: linear-gradient(to right, #ff6600, #ff33cc);
  color: white; 
  font-size: 16px; 
  cursor: pointer; 
  border-radius: 8px;
  } */
  
  /* button:hover {
    background-color: #0056b3; 
  } */
  