.status-box{
    width: 80vw; /* ปรับความกว้างตามที่คุณต้องการ */
    height: 30rem; /* ปรับความสูงตามที่คุณต้องการ */
    border-radius: 20px;
    background-color: white;
    color: black;
    overflow: auto;
}
.statush1{
  margin-top: 100px;
  margin-bottom: 10px;
  width: 85%;
  font-size: 40px;
  color: white; /* สีของตัวอักษร */
  text-shadow: 0 0 10px rgb(64, 150, 179), 0 0 20px rgb(95, 167, 191), 0 0 30px rgb(58, 175, 214);
  text-align: left;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  th {
    border-bottom: 4px solid #888585;
    text-align: center;
    padding: 20px;
  }
  td {
    text-align: center;
    padding-top: 20px;
  }
  
/*///////// Refund //////////////*/
.Refund-box{
    width: 25rem; /* ปรับความกว้างตามที่คุณต้องการ */
    height: 20rem; /* ปรับความสูงตามที่คุณต้องการ */
    border-radius: 20px;
    background-color: white;
    color: black;
    padding: 20px;
  }
  .refund-text{
    margin-top: 50px;
    margin-bottom: 10px;
    width: 50%;
    text-align: left;
  }

.refund-text h1{
  font-size: 40px;
  color: white; /* สีของตัวอักษร */
  text-shadow: 0 0 10px rgb(64, 150, 179), 0 0 20px rgb(95, 167, 191), 0 0 30px rgb(58, 175, 214);
  }
  .refund-text p{
    font-size: 20px;
    margin: 8px 0;
  }

  .refund-form {
    margin-top: 10px;
    background-color: #ffffff;
    width: 100%; /* กว้างเต็ม .refund-container */
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
  
  .refund-form label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  .refund-form input {
    display: flex;
    margin-bottom: 25px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 90%;
    flex:1;
  }
  @media screen and (max-width: 600px){
    .Refund-box{
        width: 75%; /* ปรับความกว้างตามที่คุณต้องการ */
        height: 20rem; /* ปรับความสูงตามที่คุณต้องการ */
        border-radius: 20px;
        background-color: white;
        color: black;
        padding: 20px;
      }

    .refund-text{
      width: 80%;
    }
    
    
  }


  /*//////// status-deatil-user ////////*/

.Status-box{
  display: flex;
  background-image: url('../image/receipt.png');
  width: 90vw; /* ปรับความกว้างตามที่คุณต้องการ */
  height: 420px;
  min-height: 420px;
  max-height: 500px;
  max-width: 400px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
}

.Status-box .flex-part1{
  display: flex;
  flex-direction: column;
 margin-top: 100px;
}
.Status-box .flex-part1 p{
 margin: 6px;
 
}


/* 
.status-text{
  
} */

