.user-box{
    background-image: linear-gradient(to top right,#0E032C,#6E4BD0);
    width: 700px; /* ปรับความกว้างตามที่คุณต้องการ */
    height: 440px; /* ปรับความสูงตามที่คุณต้องการ */
    padding: 30px; /* ระยะขอบภายใน */
    border-radius: 20px;
    margin-top: 20px;
}

.left-user{
    display: flex;
    flex: 3;
    align-items: center; 
}
.right-user{
    display: flex;
    flex: 2;
    align-items: center; 
}
.right-user ul li{
  font-family: 'Urbanist', sans-serif;
  margin-right: 40px;
}

.user-box hr{
    border: 3px solid #7BDAFB;
}

.profilepic {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 100px;
    min-width: 60px;
  }
  
  .profilepic img {
    width: 100%;
    position: relative; /* เพิ่ม */
    
    z-index: 1; /* ให้รูป logo อยู่ด้านหน้า */
  }

.grid-user {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 คอลัมน์ */
    grid-template-rows: repeat(4, 1fr); /* 4 แถว */
    gap: 10px 20px; /* ระยะห่างระหว่าง grid items */
  }
  
  .detail-user {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 10px;
  }

  .name {
    font-weight: bold;
  }



/*////////////////////////// edit user //////////////////////////*/
.edit-form{
  display: flex;
  flex-direction: column;
  margin: auto;
}

.selectGender{
  background-color: #D9D9D9;
  border: none;
  width: 100%;
  padding: 7px 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: medium;
}
.name-container{
  text-align: left;
}

  

  
  
  
  