.tab {
    overflow: hidden;
    background-color: #465179;
    width: fit-content;
    border-radius: 20px 20px 0 0;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    border-radius: 20px 20px 0 0;
    color: white;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #111C44;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    border-top: none;
  }
  .tapactive{
    display: flex;
  }
  .box-tap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 100px;
  }
  /* status-box */
  .status-box2{
    width: 80vw; /* ปรับความกว้างตามที่คุณต้องการ */
    height: 30rem; /* ปรับความสูงตามที่คุณต้องการ */
    border-radius:  0 20px 20px 20px;
    background-color: #111C44;
    color: white;
    overflow: auto;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .tr-admin th {
    border-bottom: 2px solid #888585;
    text-align: center;
    padding: 15px;
    font-size: 14px;
  }
  .tr-admin td {
    text-align: center;
    padding-top: 20px;
    font-size: 12px;
  }

  .status-box3{
    width: 80vw; /* ปรับความกว้างตามที่คุณต้องการ */
    height: 30rem; /* ปรับความสูงตามที่คุณต้องการ */
    border-radius:  20px 20px 20px 20px;
    background-color: #111C44;
    color: white;
    overflow: auto;
  }

  