.background-blue{
  background-color: #11062F;
}
/* Background.css */
.full-screen-bg {
  display: flex;
  position: relative;
  width: 100vw;
  height: 740px;
  background-image: url('assets/image/mainbg2.png');
  background-size: cover;
  background-position: center;
  margin-left: -17px;
  border-bottom-left-radius: 20%;
}

.firstpage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.boxcover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  top: 0;
  left: 0;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center; 
  color: white;
}

.storepic {
  display: flex;
  align-items: center;
  max-width: 90%; 
  overflow: hidden; 
}

.storepic img {
  width: 100%; /* ให้รูปภาพเต็มขนาดของ .storepic */
  height: auto; /* ให้สูงของรูปภาพปรับตามอัตราส่วน */
  max-width: 100%; /* ให้รูปภาพไม่เกินความกว้างของ .storepic */
}

.welcome{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 50%;
  color: white; /* สีข้อความ */
}


.content2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  height: 100%;
  color: white; /* สีข้อความ */
}
.content2 p{
  font-family: 'Urbanist', sans-serif;
}

.content2 h1{
  font-size: 5.5vw;
  color: white; /* สีของตัวอักษร */
  text-shadow: 0 0 10px rgb(64, 150, 179), 0 0 20px rgb(95, 167, 191), 0 0 30px rgb(58, 175, 214);
}

.pane2 {
  display: flex; /* ใช้ Flexbox เพื่อแบ่งส่วน */
  justify-content: space-between; /* แบ่งส่วนแบบ space-between เพื่อให้ซ้าย 30% และขวา 70% */
  position: relative;
  height: 710px; /* ให้สูงเท่ากับความสูงของหน้าจอ */
  /* background-image: linear-gradient(to top right,#09133B 30%,#a53fa5 ,#fa43f9 ); */
  background-color: #11062F;
}

.left-pane {
  width: 30%;
  display: flex;
  flex-direction: column;
  color: white;
}

.left-pane h1{
  margin: 20vh 0 0 15vh;
  font-size: clamp(50px,8vw,60px);
}

.left-pane p{
  color: white;
  font-size: 25px;
  margin: 10px 0 0 20vh;
}

.right-pane {
  width: 70%;
  display: flex;
  align-items: center;
}

/* responsive design */
@media screen and (max-width: 1000px) {
  .full-screen-bg {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100%;
    background-image: url('assets/image/mainbg2.png');
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    margin:0;
  }

  .boxcover{
    flex-direction: column;
  }
  
  .storepic {
    display: flex;
    align-items: center;
    max-width: 100%; /* ให้ .storepic ไม่เกินความกว้างสูงสุดของพื้นที่ที่ตั้ง */
    height: 100%;
    overflow: hidden; /* ให้ซ่อนส่วนที่เกินของรูปภาพ */
    margin-top: 10px;
  }
  
  .storepic img {
    width: 100%; /* ให้รูปภาพเต็มขนาดของ .storepic */
    height: auto; /* ให้สูงของรูปภาพปรับตามอัตราส่วน */
    max-width: 100%; /* ให้รูปภาพไม่เกินความกว้างของ .storepic */
  }
  .content2{
    width: 100%;
    text-align: center;
  }
  .content2 h1{
    font-size: 3.2rem;
  }
  .welcome{
    width: 60%;
  }
  .pane2{
    flex-direction: column;
    height: 100%;
  }

  .left-pane{
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .left-pane h1{
    margin: 20vh 0 0 0;
    font-size: clamp(50px,8vw,60px);;
  }
  
  .left-pane p{
    color: white;
    font-size: 25px;
    margin: 0 0 0 0;
  }
  .right-pane{
    width: 100%;
  }
  
}


