@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
body {
  margin: 0;
  padding: 0;
  overflow: auto; /* เพื่อป้องกันการแสดงแถบเลื่อนเมื่อภาพใหญ่เกินขนาดหน้าจอ */
  font-family: Equinox;
}

/* Background.css */
.full-screen-bg {
  display: block;
  position: relative;
  width: 100%;
  height: 720px;
  background-image: url('assets/image/mainbg2.png');
  background-size: cover;
  background-position: center;
}

.firstpage {
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.boxcover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  top: 0;
  left: 0;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center; 
  color: white;
}

.storepic {
  display: flex;
  align-items: center;
  max-width: 90%; /* ให้ .storepic ไม่เกินความกว้างสูงสุดของพื้นที่ที่ตั้ง */
  overflow: hidden; /* ให้ซ่อนส่วนที่เกินของรูปภาพ */
}

.storepic img {
  width: 100%; /* ให้รูปภาพเต็มขนาดของ .storepic */
  height: auto; /* ให้สูงของรูปภาพปรับตามอัตราส่วน */
  max-width: 100%; /* ให้รูปภาพไม่เกินความกว้างของ .storepic */
}

.welcome{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 50%;
  color: white; /* สีข้อความ */
}


.content2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  height: 100%;
  color: white; /* สีข้อความ */
}

.content2 h1{
  font-size: 5rem;
  font-family: 'Orbitron', sans-serif;
}

.pane2 {
  display: flex; /* ใช้ Flexbox เพื่อแบ่งส่วน */
  justify-content: space-between; /* แบ่งส่วนแบบ space-between เพื่อให้ซ้าย 30% และขวา 70% */
  height: 710px; /* ให้สูงเท่ากับความสูงของหน้าจอ */
  background-image: linear-gradient(to top right,#09133B 30%,#a53fa5 ,#fa43f9 );
}

.left-pane {
  width: 30%;
  display: flex;
  flex-direction: column;
  color: white;
}

.left-pane h1{
  margin: 20vh 0 0 20vh;
  font-size: 4rem;
}

.left-pane a{
  color: white;
  font-size: 40px;
  margin: 10px 0 0 20vh;
}

.right-pane {
  width: 70%;
}