 /* css use in any component */
 @import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins:wght@200&family=Urbanist:wght@200&display=swap');
 @font-face {
  font-family: 'Equinoxtest'; /* ชื่อฟ้อนที่คุณต้องการให้ใช้ */
  src: url('./assets/EquinoxRegular.otf') format('woff2'); /* ที่อยู่ของไฟล์ฟ้อนและรูปแบบของไฟล์ */
  /* คุณสามารถเพิ่มรูปแบบไฟล์เพิ่มเติมได้ตามต้องการ */
}

body {
  margin: 0;
  padding: 0;
  overflow: auto; /* เพื่อป้องกันการแสดงแถบเลื่อนเมื่อภาพใหญ่เกินขนาดหน้าจอ */
  font-family: 'Equinoxtest';
}
 p{
  font-family: 'Urbanist', sans-serif;
 }
 h2{
  font-family: 'Orbitron', sans-serif;
 }
 label{
  font-family: 'Poppins', sans-serif;
 }
 .name{
  font-family: 'Urbanist', sans-serif;
 }
 .orbiton{
  font-family: 'Orbitron', sans-serif;
  font-size: small;
 }
 .flex-between{
  display: flex;
  justify-content: space-around;
}

.flex-betweencenter{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-column{
  display: flex;
  flex-direction: column;
}
.flex-column-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-part1{
  flex:1
}
.flex-part2{
  flex:2
}
.flex-part3{
  flex:3
}
.boxcenter{
  display: flex;
  justify-content: center;
  flex-grow: 1;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
  color: white;
}
.textleft{
  text-align: left;
}
.error-message {
  color: #ff0000; /* สีข้อความ error เป็นสีแดง */
  font-size: 1.3vh;/* ขนาดตัวอักษร */
  margin: 0; /* ระยะห่างด้านบน */
}

/* เพิ่มสไตล์สำหรับ highlight ข้อผิดพลาดใน input fields */
.input-error {
  border: 1px solid #ff0000;
}
.left-border-button{
  background: linear-gradient(#511ea4, #511ea4) padding-box,
  linear-gradient(to right, rgba(96, 255, 202,0),rgba(96, 255, 202)) border-box;
  border: 2px solid transparent;
  color: #fff;
  padding: 8px 15px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  font-family: 'Orbitron', sans-serif;
  font-size: medium;
  max-height: 40px;
}

.right-border-button{
  background: linear-gradient(#511ea4, #511ea4) padding-box,
  linear-gradient(to left, rgba(96, 255, 202,0),rgba(96, 255, 202)) border-box;
  border: 2px solid transparent;
  color: #fff;
  padding: 8px 15px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  font-family: 'Orbitron', sans-serif;
  font-size: medium;
  max-height: 40px;
}
/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

/* a {
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  /* a:hover {
    color: #747bff;
  } */
  button {
    background-color: #f9f9f9;
  }
}
